html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* verde oscuro--> #00522A; verde claro--> #4C9B01; */
#estilocab{                
    text-align: center;   
    width: 100%;
}
#estilocab *{                
    text-align: center;      
    width: 100%;
}

#estilopie{
    text-align: center;
    margin-top: 200px;

}

#letrapie{
    color: #4C9B01;
}

a{
    color: #00522A;
    font-weight:bold;

}

a:hover{
    color: #4C9B01;
}

#menu *{
    margin: auto;

}
#menu form input{
    margin: 5px;

}


.btn-info{
    background-color: #00522A;
    color:whitesmoke;
    border-color: white;
}
.btn-info:hover{
    background-color: #4C9B01;
    border-color: white;

}
#menuAdmin li{
    width: 40px;
}
#header{
    color: white;
    background-color: #00522A;
    border-radius: 4px;
}

.breadcrumb{
    background: transparent;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #4C9B01;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before{
    background-color: #4C9B01;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label:before {
    background-color: #4C9B01;
}




